.project-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .project-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .image-upload {
    margin-top: 10px;
  }
  
  .image-upload label {
    font-size: 14px;
  }
  
  .image-upload input[type="file"] {
    margin-top: 5px;
  }

  .letter-image {
    width: 600px; /* Adjust the width as per your desired size */
    height: auto; /* Maintain the aspect ratio */
  }

  .letter-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
  }